/* github.com/dillacorn/awtarchy/tree/main/config/wofi */
/* ~/.config/wofi/style.css */

window {
    margin: 0px;
    border: 2px none #4a4a4a;
    border-width: 2px;
    background-color: #353535;
    border-radius: 4px;
}

#input {
    padding: 2px;
    margin: 6px 10px 2px 10px;
    padding-left: 12px;
    border: none;
    color: #d0d0d0;
    font-family: "NotoSansM Nerd Font Mono", monospace;
    font-size: 14px;
    font-weight: normal;
    background-color: transparent;
    background: none;
    outline: none;
    border-radius: 4px;
}

#input:focus {
    border: 0px solid transparent;
    margin-bottom: 0px;
}

#inner-box {
    margin: 2px;
    border: 2px solid transparent;
    color: #ebdbb2;
    font-weight: normal;
    background-color: transparent;
    border-radius: 4px;
}

#outer-box {
    margin: 0px;
    border: 0px solid #4a4a4a;
    border-radius: 4px;
    background-color: #353535;
}

#scroll {
    background-color: transparent;
    margin: 2px 0px;
    border: none;
    border-radius: 4px;
}

#img {
    margin-right: 6px;
    min-width: 16px;
    min-height: 16px;
}

#img:selected,
#img {
    margin-right: 6px;
    border-radius: 2px;
    background-color: transparent;
}

#text:selected,
#text {
    color: #ffffff;
    margin: 0px;
    border: none;
    border-radius: 4px;
    background-color: transparent;
    font-size: 14px;
    font-family: "NotoSansM Nerd Font Mono", monospace;
}

#entry,
#entry:selected {
    margin: 1px 4px;
    padding: 2px 4px;
    border: none;
    border-radius: 3px;
    background-color: transparent;
}
