# github.com/dillacorn/awtarchy/tree/main/local/share/applications
# ~/.local/share/applications/btop.desktop

[Desktop Entry]
Type=Application
Version=1.0
Name=Btop++
GenericName=System Monitor
Comment=Resource monitor that shows usage and stats for processor, memory, disks, network and processes
Icon=utilities-terminal
Exec=/bin/sh -c 'command -v btop >/dev/null 2>&1 && ~/.config/hypr/scripts/launch_handler.sh btop "alacritty --class btop -e btop" || hyprctl notify 3 5000 "rgb(ff5555)" "btop is not installed."'
Terminal=false
Categories=System;Monitor;ConsoleOnly;
Keywords=system;process;task
