# github.com/dillacorn/awtarchy/tree/main/local/share/applications
# ~/.local/share/applications/cava.desktop

[Desktop Entry]
Type=Application
Terminal=false
Exec=/bin/sh -c 'command -v cava >/dev/null 2>&1 && alacritty -e cava || hyprctl notify 3 5000 "rgb(ff5555)" "cava is not installed."'
Name=cava
Icon=utilities-terminal