# github.com/dillacorn/awtarchy/tree/main/local/share/applications
# ~/.local/share/applications/hypr_quicksettings.desktop

[Desktop Entry]
Type=Application
Terminal=false
Name=Awtarchy Quick Settings
Icon=utilities-terminal
Exec=/bin/sh -lc 'exec alacritty --class hypr_quicksettings,hypr_quicksettings --title "Awtarchy Quick Settings" -e bash "$HOME/.config/hypr/scripts/hypr_quicksettings.sh" --ui'
StartupWMClass=hypr_quicksettings
