# github.com/dillacorn/awtarchy/tree/main/local/share/applications
# ~/.local/share/applications/hyprland_themes.desktop

[Desktop Entry]
Type=Application
Name=Themes (Hyprland)
Exec=/bin/sh -c "$HOME/.config/hypr/scripts/theme_select.sh"
Icon=utilities-terminal
Terminal=false
Categories=Utility;
