# github.com/dillacorn/awtarchy/tree/main/local/share/applications
# ~/.local/share/applications/qr_scan.desktop

[Desktop Entry]
Type=Application
Name=QR (scan code)
Exec=/bin/sh -c "$HOME/.config/hypr/scripts/qr_scan.sh"
Icon=utilities-terminal
Terminal=false
Categories=Utility;
