# github.com/dillacorn/awtarchy/tree/main/local/share/applications
# ~/.local/share/applications/waybar_rotate.desktop

[Desktop Entry]
Type=Application
Name=Waybar rotate (focused display)
Comment=Rotate Waybar between horizontal and vertical on the currently focused monitor
Exec=~/.config/hypr/scripts/waybar_rotate.sh
Icon=object-rotate-right
Terminal=false
Categories=Utility;
